pnpm-lock.yaml
.next
node_modules
dist
build
tsconfig.json
scripts
README.md
postcss.config.mjs

node_modules
.next

.vscode
.idea
.DS_Store

package-lock.json
yarn.lock

docker-compose*.yml
docker-compose*.yaml
pnpm-workspace.yaml
eslint.config.mjs
next.config.ts